@import "tailwindcss";
@theme {
    --font-body: var(--font-inter);
    --font-heading: var(--font-heading);
    --font-mono: var(--font-mono);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
